Feature: Support for RFC 9068 compliant JWT Access Token

### User Story
```feature
Feature: add custom scopes

As an administrator
I want to add new custom scopes in the settings
So that the access and ID tokens can include the new scopes when requested by the client
```
### Acceptance Criteria
- Custom scopes can be added via webUI settings and REST API
- Newly added scopes can be assigned as `default` or `optional`
  - `default`: included in the scopes section of EVERY token response
  - `optional`: included in the scopes section of the token response when REQUESTED by the client
- The access and ID tokens include the requested custom scopes and the default ones (based on the above condition: default or optional).

### Value
When using a service like OpenProject as a client which requires some scopes (e.g.: `api_v3`) to be included in the token to allow access to the API endpoints, having the option to create a custom scope (`api_v3`) and include it in the token scopes section when requested would make the OpenProject API work with the tokens provided by NC oidc app.

### Use Cases
- OpenProject API (requires `api_v3` token scope)
1. In `oidc` app, add an optional custom scope `api_v3`
2. Register new OIDC client
2. Add Nextcloud as IDP in OpenProject 
3. Client requests new access/ID token with `api_v3` scope
4. `odic` app sends the token including the requested scope
5. The token now then can be used to access OpenProject APIs

CC @NobodysNightmare @julien-nc

IMO we should try to make this "useful yet simple". E.g. I know the concept of default scopes vs. optional scopes from fully-fledged IDPs, such as Keycloak. Though I believe here it would be sufficient to treat all scopes as optional (i.e. they have to be requested by a client).

On the other hand it makes sense that not every client is allowed to wildly request any scope, but this configuration only makes sense to be defined per _requesting_ client.

What I am asking myself is how/if we want to limit scopes available to "internal" clients. If I understand it correctly for example the `integration_openproject` app is not a registered client in the `oidc` app. So do I want to be able to restrict which app can request a scope `api_v3`?

Alternatively the most simple implementation would be to allow internal apps to request arbitrary scopes. While this doesn't add any security (all scopes accessible by any app), it at least adds compatibility (api calls that require tokens with certain scopes are possible at all).

Do you have a link to the documentation of OpenProject what really is required to allow access to the API?

The scopes are used to define which claims will be returned at the userinfo endpoint or in the ID token. But neither the userinfo endpoint nor the ID token do contain the scopes (e.g. openid roles) itself, only the claims requested are contained. So which claims should be provided for those customs scopes?

Currently there is no limitation of scopes to any client. Additionally there is no separation between an internal or external client. You even could request a custom scope without an error. But it will be ignored and no specific claims are returned.



> Do you have a link to the documentation of OpenProject what really is required to allow access to the API?

This is not part of the docs yet, because the requirement for scopes is actually new (and let me double check whether we properly documented the OpenProject ability to use SSO JWTs at all yet).

To give you the necessary context: What's a relatively new feature for us, is that we do allow other applications to obtain a token from an identity provider (in this special case: Nextcloud with `oidc`) and then validate that when authenticating API requests. We try to be as close as practically possible to [RFC 9068](https://www.rfc-editor.org/rfc/rfc9068) for that. We don't follow that RFC in one point: We do not validate the `typ` claim of the header. For Nextcloud we don't do it, because we practically receive an ID token from NC, not an access token. But also other IDPs do not yet reliably indicate the correct `typ` claim according to the RFC (Keycloak just now merged a PR that will make this optionally possible).

Validating the scope of embedded tokens is something that we want to add now.

> Currently there is no limitation of scopes to any client. Additionally there is no separation between an internal or external client. You even could request a custom scope without an error.

Sounds to me like the minimum we need for _compatibility_ is already possible, because scopes can be added by a client already. I guess the main issue is - as you already pointed out - that we are (mis)using the ID token as an access token right now (CC @julien-nc in case you disagree) and the ID token does not _need_ to include a [`scope` claim](https://www.rfc-editor.org/rfc/rfc9068#section-2.2.3).

One solution would be to add the `scope` claim to the ID token as well. I'd call this a workaround, because it's (probably) easy to implement, but not really using ID tokens for what they were intended for. They just happen to _nearly_ look like access tokens.

Another option ("the right way"™?) would be to encode regular access tokens as JWTs and ensure that they would comply as much as possible to RFC 9068, making it possible for resource servers to validate them. This would mean that there is a standardized way for a resource server to validate them, which (as far as I can tell) there is none yet.

Ok. So you are expecting a JWT Access Token (typ: `at+jwt` - OAuth2.0) and not an ID token as usually provided by OIDC (and also provided by the oidc app -> with typ: `JWT`). Is there a reason not to use OpenID Connect with ID tokens as defined in ([OpenID Connect Core 1.0 Specification](https://openid.net/specs/openid-connect-core-1_0-final.html#IDTokenValidation)) and instead use pure OAuth2.0 with JWT Access Tokens according RFC9068? Meaning if you receive a JWT with the typ: `JWT` why don´t you perform the validation of an ID token?

Having a deeper look what are the differences between JWT Access token (RFC9068) and OpenID Connect ID token:

- Based on [RFC9068 Section 2.2.3](https://www.rfc-editor.org/rfc/rfc9068#name-authorization-claims) a JWT access token SHOULD include a "scope" claim as defined in [Section 4.2](https://www.rfc-editor.org/rfc/rfc8693#section-4.2) of [[RFC8693](https://www.rfc-editor.org/rfc/rfc9068#RFC8693)].
- Additionally to an ID token the claim `client_id` is missing (see [RFC9068 Section 2.2 Data Structure](https://www.rfc-editor.org/rfc/rfc9068#name-data-structure)) in the ID token.
- The `aud` claim should be defined differently then defined in OpenID Connect specification (`aud` contains `client_id` for OIDC).

Hello,

> So you are expecting [typ: at+jwt] and not [...] typ: JWT

We still ignore the `typ`, and we don't plan to change that in the near future. Many _real_ OAuth 2.0 access tokens will also have the `typ: JWT` in deployed implementations.

> Having a deeper look what are the differences between JWT Access token (RFC9068) and OpenID Connect ID token

I think your observations are correct, though I would say the reason is that ID Token and Access Token service different _purposes_.

The ID token is always intended for the client that requested it, never for someone else (therefore `aud == client_id`), while an access token is intended to be used _by_ the client to access a resource somewhere else (at a resource server). And the purpose of the ID token is to identify the user that was authenticated, therefore it contains claims that are not useful in an access token (name, email, etc) and it does not need claims, that are used for authentication (e.g. scopes).

This is why I said, we are now _misusing_ ID tokens to be used as access tokens. Because they are not intended to be used that way, but they are similar enough that you can make it work (as long as `typ` keeps being ignored... RFC 9068 introduced the more specific `typ` claims to specifically prevent confusion between access token and ID token).

> Is there a reason not to use OpenID Connect with ID tokens as defined in ([OpenID Connect Core 1.0 Specification](https://openid.net/specs/openid-connect-core-1_0-final.html#IDTokenValidation)) and instead use pure OAuth2.0 with JWT Access Tokens according RFC9068?

I am not sure if I properly understood this part of your message. Let me try to answer, but if I repeat stuff that you already know, feel free to ignore it.

Our goal (on the OpenProject side) is to only care about RFC 9068 for tokens that we receive for API requests. In the scenario with requests from NC, OpenProject acts as the resource server, while NC doubles as authorization server and client (`oidc` is the AS, `integration_openproject` is the client).

OIDC mostly specifies interactions between a client and the AS so that the client knows details about the authenticated user. OAuth on the other hand specifies how a client could obtain a token from an AS that can be used at a resource server, but it doesn't specify how the resource server is supposed to check correctness of the token. This is where 9068 fills the gap. It specifies a way to validate the token.

Specifically for Nextcloud we (OpenProject) now have the problem, that the access tokens issued by `oidc` (the app) are opaque tokens. I.e. access tokens are not usable as JWTs according to RFC 9068, so on the OpenProject side we could not validate them per any standard. And the _workaround_ we used so far, was to use the ID tokens issued by `oidc` (because we someone can generate them with a different audience!) and act as if they were real access tokens.

Does that make sense? I can shed light on more aspects of the integration, if needed. Right now I fear to shed light on pieces that you already know, while keeping the interesting bits in the shadow.

Currently the generated and returned Access Token from the oidc app is just a random sequence of 72 characters. To allow a validation at the RS (e.g. OpenProject) this Access Token should no longer be a pure random string. Instead it should be a JWT Access Token complying with RFC 9068. (@NobodysNightmare I think that complies with your proposed "Another option...")
The provided ID token should then no longer be relevant. Instead this JWT Access Token should be used. And we can omit the workaround approach to extended the ID token (create a mixture of an ID Token and a JWT Access Token) which I do not really like.
I will check in the next days how such an RFC 9068 compliant implementation could be done in the oidc app.

Sounds good, I believe we are aligned. Thanks for looking into this.

The PR #538 implements the necessary functionality to provide RFC9068 based JWT access tokens. Some more details can be found in the description of the PR.